@use "../../assets/global-styles/variables.scss" as *;

.result-container {
  display: flex;
  padding: 3rem;
  gap: 3rem;
  text-transform: uppercase;
  justify-content: center;
  max-width: 60rem;
  margin: 0 auto;
}

.result-container > * {
  width: 100%;
  min-width: 16rem;
}

.choice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: white;
    padding-bottom: 8rem;
  }
}

.result-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;


  h1 {
    color: white;
    font-size: 3rem;
  }

  button {
    border: none;
    border-radius: 8px;
    color: $dark-text;
    cursor: pointer;
    padding: .5rem 3.5rem;
    text-transform: inherit;
  }

  button:focus {
    outline: 3px dashed white;
  }
  
  button:focus:not(:focus-visible) {
    outline: none;
  }
  
  button:focus-visible {
    outline: 3px dashed white;
  }
}

.options-btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}